.post {
  color: var(--color-font);
}

.post h1 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  font-weight: 600;
  position: relative;
}

.post h1::after {
  content: "";
  background-color: var(--color-secondary);
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.post article h2 {
  font-weight: 600;
  margin-bottom: 8px;
}

.post-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  margin: 25px;
}

.post article {
  text-align: center;
  padding: 25px 10px;
  border-radius: 5px;
  font-size: 14px;
  transition: transform 0.5s, background 0.5s;
}

.post img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.post article:hover {
  background-color: var(--color-success);
  color: var(--color-font-hover);
  transform: scale(1.05);
}

.post article em {
  font-size: 25px;
  margin-bottom: 10px;
}