@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h2>Principal</h2>
<p>
    El ejercicio consiste en realizar una web que debe mostrar los resultados de tres ejercicios realizados y enunciados en este documento.
    Para ello, se realizará una presentación de la web mediante cuatro zonas diferenciadas. Tres de estas zonas (cabecera, pie y menú) serán fijas en la web,
    y evoluciona la zona central según las opciones de menú que se elijan.
</p>
<h2>Ejercicio 1</h2>
<p>
    Realizar una web que solicite dos números y, al pulsar un botón, nos devuelva sobre
    la misma página cuál es el resultado de sumar, restar, multiplica y dividir ambos números.
</p>
<h2>Ejercicio 2</h2>
<p>
    Realizar una página que, leído un texto de un cuadro de texto, y una palabra en otro, nos indique sobre una página nueva
    la cantidad de veces que ha encontrado la palabra en el texto dado.
    Además, debe implementarse un enlace en la segunda página que nos devuelva a la primera.
</p>
<h2>Ejercicio 3</h2>
<p>
    Generar una web que, dada una fecha solicitada en un cuadro de texto, nos devuelve cuantos días hay desde esa fecha hasta el día de hoy.
    Se debe controlar que la fecha sea inferior al día de hoy y se realiza la devolución del valor en días sobre la misma página actual.
</p>
<h2>Ejercicio 4</h2>
<p>
    Tendremos cuatro números que se introducen en elementos de texto. A cada número le asignaremos un Check Box que nos permite decir si el elemento está seleccionado o no.
</p>
<h2>Ejercicio 5</h2>
<p>
    Generar un tabla respecto al input de sus respectivas filas y columnas.
</p>
<h2>Ejercicio 6</h2>
<p>
    Generar una contraseña de un respectivo tamaño y carácteres, luego esta se comprueba.
</p>
<h2>Ejercicio 7</h2>
<p>
    Realizar una aplicación web que solicite números y monte una lista con ellos hasta que se introduzca el número 0. 
    Cuando se pulse el cero, se procederá a contar la cantidad de veces que se ha introducido un número determinado.
</p>
<h2>Ejercicio 8</h2>
<p>
    Realizar un web que, dado un número entero positivo, mostrar el mismo número utilizando imágenes.
</p>