@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h2>ENT0701 – Razor y Entity Framework. (Web responsiva)</h2>
<p>
    El ejercicio consiste en realizar una web que debe mostrar una página principal con divisiones de cabecera, pie y menú, 
    así como una zona central en la que se presentarán una portada, y las tres páginas que deben tener la siguiente apariencia y comportamiento:
</p>
<h2>Página de selección: Ejercicio 1</h2>
<p>
    Elegidos varios valores de elementos marcables con Check o con Option y mostrar la información del dato que cumpla con dichos criterios. 
    Se elegirán los valores que se quieran mostrar, y al pulsar el botón Mostrar, se mostrarán en el marco inferior todos los elementos 
    de la tabla que cumplan con dichos criterios.
</p>
<h2>Página de fecha: Ejercicio 2</h2>
<p>
    Seleccionada una fecha determinada, se mostrarán los elementos de la tabla que cumplan dicha selección de fecha.
    <br />
    <br />
    Se presentarán los elementos de tres en tres, y las flechas permitirán pasar al grupo de elementos siguiente y al grupo de elementos anterior.
</p>
<h2>Página de fecha: Ejercicio 2.1 con TempData</h2>
<p>
    Seleccionada una fecha determinada, se mostrarán los elementos de la tabla que cumplan dicha selección de fecha.
    <br />
    <br />
    Se presentarán los elementos de tres en tres, y las flechas permitirán pasar al grupo de elementos siguiente y al grupo de elementos anterior.
</p>
<h2>Página de filtrado: Ejercicio 3</h2>
<p>
    Dada una tabla, seleccionar un valor de uno de los campos mediante un elemento ComboBox que estará previamente relleno con todos los valores posibles.
    <br />
    <br />
    Al seleccionar una, provoca la aparición de un nuevo elemento ComboBox que presentará los elementos posibles para la selección anterior, 
    y al elegir un valor de este segundo, aparecerá una tabla con todos los valores posibles con dichas dos selecciones anteriores.
</p>
<h1>Nuevos ejercicios</h1>
<h2>Mostrar tipos de música por puntuación: Ejercicio 4</h2>
<p>
    Hay un input de tipo int que representa la puntuación del 1 al 10. Se muestran los tipos de música iguales a 
    la seleccionada.
</p>
<h2>Generar contraseña a cada usuario: Ejercicio 5</h2>
<p>
    Dependiendo de la longitud y tipo de contraseña se generará una contraseña a cada usuario.
</p>
<h2>Fecha de antiguedad de los clientes: Ejercicio 6</h2>
<p>
    Filtrado de clientes dependiendo si tiene más de una quincena de años en la base de datos.
</p>