<!DOCTYPE html>

<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(~{:: #main-content})}"
>

<div id="main-content">
    <h1>Página principal</h1>

    <p>Los archivos se suben en la carpeta target/classes/static/uploadsGomez</p>

    <h3>Estructura del proyecto</h3>
    <ul>
        <li>controller</li>
        <ul>
            <li>ImageManagerServlet</li>
            <li>IndexController</li>
        </ul>
        <li>data</li>
        <ul>
            <li>Persistencia</li>
            <li>PersistenciaImplementada</li>
        </ul>
        <li>model</li>
        <ul>
            <li>Imagen</li>
        </ul>
    </ul>

    <h3>Estructura de archivos estáticos</h3>
    <ul>
        <li>css</li>
        <ul>
            <li>main.css</li>
        </ul>
        <li>img</li>
        <ul>
            <li>logotipo.png</li>
        </ul>
        <li>json</li>
        <ul>
            <li>imagenes_gomez.json</li>
        </ul>
        <li>uploadsGomez</li>
        <ul>
            <li>Imágenes subidas</li>
        </ul>
    </ul>

    <h3>Estructura de archivos HTML</h3>
    <ul>
        <li>layouts</li>
        <ul>
            <li>main-layout.html</li>
        </ul>
        <li>index.html</li>
        <li>lista-imagenes.html</li>
        <li>subir-imagen.html</li>
    </ul>
</div>