@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a la página sobre MODERN FAMILY y sus PERSONAJES</h1>
</div>

<h2>Menú</h2>
<ul>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Crear personaje", "Create", "Personaje")</li>
    <li>@Html.ActionLink("Lista de personajes", "Index", "Personaje")</li>
</ul>
