<!DOCTYPE html>

<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(~{:: #main-content})}"
>

<div id="main-content">
    <h1>Edita usuario</h1>
    <h2><a th:href="@{/usuario}">Lista de usuarios</a></h2>
    <div class="form-container">
        <form th:action="@{/usuario/updateUser}"  th:object="${user}" method="post">
            <label>Id</label>
            <input type="text" required th:field="*{id}" readonly />

            <label>Nombre</label>
            <input type="text" required th:field="*{userName}" />
            <label th:text="${errorMessage}" class="error"></label>

            <label>Rol</label>

            <select th:field="*{groups}" multiple required>
                <option th:each="group : ${listGroups}"
                        th:value="${group.id}"
                        th:text="${group.groupName}">
                </option>
            </select>

            <button>Editar usuario</button>
        </form>
    </div>
</div>