<!DOCTYPE html>

<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(~{:: #main-content})}"
>

<div id="main-content">
    <h1>Página principal</h1>

    <div th:if="${user.isUserLoggedIn()}">
        <h2>Bienvenido <label th:text="${user.username}"></label> </h2>
        <h3>
            <a th:href="@{'/producto/pedido/' + ${user.username}}">Aqui esta tu historial de pedidos</a>
        </h3>
    </div>
    <p>
        Cada usuario que se crea tiene rol "clientes".
    </p>
    <p>
        Se ha autogenereado un usuario con estos datos (Utiliza este usuario para acceder a todas las paginas):
        <ul>
            <li>Nombre: admin-rafa</li>
            <li>Contraseña: 123</li>
            <li>Roles: ["clientes", "administradores", "gestores"]</li>
        </ul>
    </p>
</div>