<!DOCTYPE html>

<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(~{:: #main-content})}"
>

<div id="main-content">
    <h1>Detalles del album</h1>
    <h2><a th:href="@{/album}">Lista de albumes</a></h2>
    <div class="form-container">
        <form th:object="${album}">
            <label>Id</label>
            <input type="text" th:field="*{id}" readonly />

            <label>Titulo</label>
            <input type="text" th:field="*{title}" readonly />

            <label>Artista</label>
            <input type="text" th:field="*{artist.name}" readonly />
        </form>
    </div>
</div>